//for index1
.{
	margin:0;
	padding:0;
	list-style:none;
	text-decoration:none;
}
#full{
	width:100%;
	height:auto;
}
#header
{
	width:100%;
	height:100px;
	background:silver;
}
#logo{width:30%;
	height:100px;
	float:left;
	background-color:pink;

}

#nav{
	width:100%;
	height:100px;

}
 ul{
	list-style: none;
	margin:0px;
	padding:0px;
}
ul li{

	float:left;
	width:10%;
	height:50px;
	border:1px solid white;
	background-color: black;
	opacity: .8;
	line-height: 40px;
	text-align: center;
	font-size: 20px;
	margin-right: 2px;

}
 ul li a{
	text-decoration:none;
	color:white;
	display:block;

}
 ul li a:hover{
	background-color:green;
}
h1{
	padding: 10px;
}
#banner{
width:100%;
height:400px;	
}

#image{
	width:50%;
	text-align:center;
	border-radious:30%;
}

#f1{
	width:100%;
	height:150px;
	background:silver;
}

/*r1.php css*/
#bg{
	background-size:100%;
	background-repeat: no-repeat;
}
.image{
	width:100%;
	text-align:center;
	border-radious:50%;
}
#one{

}
.myform{
	 position: absolute;
    top: 120px;
    right: 0;
    align-content: right;
	 position: relative;
    background-color: lightgrey;
    width: 300px;
    border: 25px solid green;
    padding: 25px;
    margin: 25px;

}
.myform1{
    align-content: right;
    background-color: lightgrey;
    width: 70%;
    height:400px;
    border: 1px solid green;
    padding: 2px;
    margin: 10px;

}
.slider{
	width:100%;
	overflow:hidden;
	height:600px;
}

.slider figure div{
	width:20%;
	float:left;
}
.slide figure img{
	width:100%;
	float:left;
}
.slider figure{
	position:relative;
	width:500%;
	margin:0;
	left:0;
	animation:20% slidy infinite;
}
@keyframes slidy{
	0%{
		left:0%;
	}

10%{
	left:0%;
}

12%{
	left: -100%;
}
22%{
	left:-100%;
}
24%{
	left:-200%;
}
34%{
	left:-200%;
}

36%{
	left:-300%;
}

46%{
	left: -300%;
}
48%{
	left:-400%;
}
58%{
	left:-400%;
}
60%{
	left:-300%;
}


70%{
	left:-300%;
}

72%{
	left: -200%;
}
82%{
	left:-200%;
}
84%{
	left:-100%;
}
96%{
	left:0%;
}




}
.inputvalues{
	width:70%;
	margin:0 auto;
	padding:5px;
}
.inputvalues1{
	width:30%;
	margin:0 auto;
	padding:5px;
}
#login_btn{
	margin-top:10px;
	background-color:green;
	padding:5px;
	color:white;
	width:100%;
	text-align:center;
	font-size:18px;
	font-weight:bold;
}
#login_btn1{
	margin-top:10px;
	background-color:green;
	padding:5px;
	color:white;
	width:15%;
	text-align:center;
	font-size:18px;
	font-weight:bold;
}
#register_btn{
	margin-top:10px;
	background-color:blue;
	padding:5px;
	color:white;
	width:100%;
	text-align:center;
	font-size:18px;
	font-weight:bold;
}
#signup_btn{
	margin-top:10px;
	background-color:green;
	padding:5px;
	color:white;
	width:100%;
	text-align:center;
	font-size:18px;
	font-weight:bold;
}
#back_btn{
	margin-top:10px;
	background-color:blue;
	padding:5px;
	color:white;
	width:100%;
	text-align:center;
	font-size:18px;
	font-weight:bold;
}
#logout_btn{
	margin-top:10px;
	background-color:black;
	padding:5px;
	color:white;
	width:100%;
	text-align:center;
	font-size:18px;
	font-weight:bold;
}

